USE [DB_A3EF3F_SUDOKU]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Sp_SeleccionUsuarioPassword]
(
 
  @USUARIO VARCHAR(50),
  @PASSWORD VARCHAR(MAX)
 
)
AS
BEGIN

SET NOCOUNT ON;

SELECT ID FROM  CLIENTE WHERE USUARIO = @USUARIO AND PASSWORD = @PASSWORD ;
END 
