.navbar {
  @include box-shadow(2px, 2px, 5px, 0px, rgba(79, 79, 79, 0.3));
  .inner-container {
    overflow: visible;
    max-width: $inner-container-max-width;
    margin: 0 auto;
    padding: 0.5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .column-alfa {
      .logo {
        width: 100px;
      }
      .username {
      }
    }
    .column-beta {
      display: flex;
      .menu-list {
        display: flex;
        > .menu-list-item {
          margin-right: 2rem;
          > .anchor {
            font-weight: 800;
            border: 1px solid #50cc91;
            border-radius: 4px;
            padding: 0.4rem 1.2rem;
            color: #565959;
            transition: 0.4s all;
            text-transform: uppercase;
            white-space: nowrap;
            font-family: 'Open Sans';
            font-weight: 400;
            &:hover {
              background-color: #50cc91;
              color: #ffffff;
            }
          }
        }
      }
      .languagepicker {
        width: 50px;
      }
    }
  }
}
