.logo {
    width: 80px;
    height: 80px;
}

.video {
    -ms-flex-align: center;
    -ms-flex-direction: column;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-box-pack: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    justify-content: center
}

    .video .inner-container {
        margin: 0 auto;
        max-width: 87.5rem;
        padding: .5rem 0
    }

@media screen and (min-width:40em) {
    .video .inner-container {
        width: 50%
    }
}

.video .inner-container .title {
    font-family: Oswald;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase
}

.video .inner-container .video-container {
    padding-top: 56.25%;
    position: relative
}

    .video .inner-container .video-container .video {
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%
    }
body {
    background: #FFFFFF;
}
.navbar-gris {
    background-color: #3F3F3F;
}
/* change the background color */
.navbar-custom {
    background-color: #3F3F3F;
}
    /* change the brand and text color */
    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: rgba(255,255,255,.8);
    }
    /* change the link color */
    .navbar-custom .navbar-nav .nav-link {
        color: rgba(255,255,255,.5);
    }
    /* change the color of active or hovered links */
    .navbar-custom .nav-item.active .nav-link,
    .navbar-custom .nav-item:hover .nav-link {
        color: #ffffff;
    }

/*@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"),local("OpenSans-Light"),url(/fonts/open-sans-v15-latin-300.woff2) format("woff2"),url(/fonts/open-sans-v15-latin-300.woff) format("woff")
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans Regular"),local("OpenSans-Regular"),url(/fonts/open-sans-v15-latin-regular.woff2) format("woff2"),url(/fonts/open-sans-v15-latin-regular.woff) format("woff")
}

@font-face {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans ExtraBold"),local("OpenSans-ExtraBold"),url(/fonts/open-sans-v15-latin-800.woff2) format("woff2"),url(/fonts/open-sans-v15-latin-800.woff) format("woff")
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 400;
    src: local("Oswald Regular"),local("Oswald-Regular"),url(../fonts/oswald-v16-latin-regular.woff2) format("woff2"),url(../fonts/oswald-v16-latin-regular.woff) format("woff")
}

@font-face {
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    src: local("Oswald SemiBold"),local("Oswald-SemiBold"),url(../fonts/oswald-v16-latin-600.woff2) format("woff2"),url(../fonts/oswald-v16-latin-600.woff) format("woff")
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%
}

*, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    background: #fefefe;
    color: #0a0a0a;
    font-family: Open Sans;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0
}

img {
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle
}

textarea {
    border-radius: 0;
    height: auto;
    min-height: 50px
}

select {
    -webkit-box-sizing: border-box;
    border-radius: 0;
    box-sizing: border-box;
    width: 100%
}

.map_canvas embed, .map_canvas img, .map_canvas object, .mqa-display embed, .mqa-display img, .mqa-display object {
    max-width: none !important
}

button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    cursor: auto;
    line-height: 1;
    outline: 0;
    padding: 0
}

pre {
    overflow: auto
}

button, input, optgroup, select, textarea {
    font-family: inherit
}

ol, ul {
    list-style: none
}

form, ol, ul {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}

.background {
    -webkit-filter: opacity(.2);
    background-image:  url(images/main-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: opacity(.2);
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    z-index: -1
}



    .navbar .inner-container {
        -ms-flex-align: center;
        -ms-flex-pack: justify;
        -webkit-box-align: center;
        -webkit-box-pack: justify;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 87.5rem;
        overflow: visible;
        padding: .5rem 2rem
    }

        .navbar .inner-container .column-alfa .logo {
            width: 100px
        }

        .navbar .inner-container .column-beta, .navbar .inner-container .column-beta .menu-list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex
        }

            .navbar .inner-container .column-beta .menu-list > .menu-list-item {
                margin-right: 2rem
            }

                .navbar .inner-container .column-beta .menu-list > .menu-list-item > .anchor {
                    -webkit-transition: all .4s;
                    border: 1px solid #50cc91;
                    border-radius: 4px;
                    color: #565959;
                    font-family: Open Sans;
                    font-weight: 800;
                    font-weight: 400;
                    padding: .4rem 1.2rem;
                    text-transform: uppercase;
                    transition: all .4s;
                    white-space: nowrap
                }

                    .navbar .inner-container .column-beta .menu-list > .menu-list-item > .anchor:hover {
                        background-color: #50cc91;
                        color: #fff
                    }

            .navbar .inner-container .column-beta .languagepicker {
                width: 184px
            }



.is-hidden {
    display: none !important
}*/
/*# sourceMappingURL=main.css.map */
